*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* shared style */

/* font  */
.font-outfit {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  
}

/* max width */

.m-width{
  max-width: 1280px;
margin: 0 auto
}

/* flex  */

.flex{
  display: flex;

}

/* color */
.dark-2{
  color: #424242;
}
.dark-3{
  color: #727272;
}


/* buttons */
.btn-primary{
  color: white;
  font-size: 1.1rem ;
  background-color: #9540FF;
  border: 2px solid #9540FF;
  padding: 12px 20px;
  border-radius: 40px;
  cursor: pointer;
  transition: all 0.4s ease ;
}
.btn-primary:hover{
  color: #9540FF;
  background-color:white;
  border: 2px solid #9540FF;
}



/* header  */   

/* nav section  */

.nav {
  margin-top: 50px;
  justify-content: space-between;
  align-items: center;
  
}
.logo{
  font-size: 3rem;
  font-weight: bold;
}
nav a {
  text-decoration: none;
  
}
.nav-list-container {
  
  list-style: none;
  gap: 50px;
  font-size: 1.2rem;
  
  
}
.nav-list-container li a {
  color: #424242;
}
.log-btn-container{
  /* border: 2px solid;
  position: ; */
}
.log-btn {
  list-style: none;
  gap: 20px;
  font-size: 1.2rem;
  align-items: center;
  
}

/* hero section  */

.hero-section{
  margin-top: 100px;
  text-align: center;
}
.hero-section h1{
  font-size: 4rem;
}
.hero-section p{
  font-size: 1rem;
  margin: 25px 0px 40px 0px;
  
}
.email-container{
 /* width: 50%;  */
  /* border: 2px solid orange; */
  width: 100%;
  justify-content: center;
  margin-bottom: 50px;
  
}
.email-form{
  width: 40%;
  padding: 10px;
  border: 2px solid #9540FF;
  border-radius: 40px;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  
}
.email-form input{
 padding: 10px;
 width: 100%;
 border: none;
 font-size: 1rem;
}
input:focus{
  outline: none;
  
}

.email-form input::placeholder{
  font-size: 1rem;
  text-align: center;
}


  @media screen and (max-width:576px) {
    
    .nav{
      flex-direction: column;
    }
    .logo {
    font-size: 2rem;
    
}
    .nav-list-container {
      flex-direction: column;
      gap: 5px;
      margin-top: 20px;
      text-align: center;
    }
    .log-btn {
      margin-top: 20px;
      flex-direction:column-reverse;
      gap: 10px;
    }
    /* hero-section  */

    .hero-section h1 {
    font-size: 2.5rem;
}

.email-container {
    /* border: 2px solid ; */
    /* flex-direction: column; */
    width: 100%;
    justify-content: center;
    margin-bottom: 50px;
}
.email-form {
    width: 80%;
    padding: 10px;
    border: 2px solid #9540FF;
    border-radius: 20px;
    /* justify-content: space-between; */
    /* align-items: center; */
    gap: 20px;
    flex-direction: column;
}
  }

  .hero-video{
    
    margin-top: 50px;
  }
.hero-video iframe{
  width: 800px;
  height: 456px;
  /* border-radius: 10%; */
  background-color: white;
  border: 7px solid white;
  border-radius: 40px;
  outline: 5px solid #9540FF;
  /* padding: 10px; */
  
}