*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* shared style */

/* font  */
.font-outfit {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  
}

/* max width */

.m-width{
  max-width: 1280px;
margin: 0 auto
}

/* flex  */

.flex{
  display: flex;

}

/* color */

/* buttons */
.btn-primary{
  color: white;
  font-size: 1.1rem ;
  background-color: #9540FF;
  padding: 12px;
  border-radius: 5px;
  border: none;
}



/* header  */   

.nav {
  margin-top: 50px;
  justify-content: space-between;
  align-items: center;
  
}
.logo{
  font-size: 3rem;
  font-weight: bold;
}
nav a {
  text-decoration: none;
  
}
.nav-list-container {
  list-style: none;
  gap: 50px;
  font-size: 1.2rem;
  
  
}
.log-btn {
  list-style: none;
  gap: 20px;
  font-size: 1.2rem;
  align-items: center;
  
}
