*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* shared style */

.font-outfit {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  
}

.m-width{
  max-width: 1280px;
margin: 0 auto
}



/* header  */   

nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  font-family:;
}
