*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(../images/body-bg.png);
  background-size: 1000px;
}
/* shared style */

/* font  */
.font-outfit {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  
}

/* max width */

.m-width{
  max-width: 1280px;
margin: 0 auto
}

/* flex  */

.flex{
  display: flex;

}

/* color */
.dark-2{
  color: #424242;
}
.dark-3{
  color: #727272;
}


/* buttons */
.btn-primary{
  color: white;
  font-size: 1.1rem ;
  background-color: #9540FF;
  border: 2px solid #9540FF;
  padding: 12px 20px;
  border-radius: 40px;
  cursor: pointer;
  transition: all 0.4s ease ;
}
.btn-primary:hover{
  color: #9540FF;
  background-color:white;
  border: 2px solid #9540FF;
}





/* header  */   

/* nav section  */

.nav {
  margin-top: 50px;
  justify-content: space-between;
  align-items: center;
  
}
.logo{
  font-size: 2.5rem;
  font-weight: bold;
}
nav a {
  text-decoration: none;
  
}
.nav-list-container {
  
  list-style: none;
  gap: 50px;
  font-size: 1.2rem;
  
  
}
.nav-list-container li a {
  color: #424242;
}
.log-btn-container{
  /* border: 2px solid;
  position: ; */
}
.log-btn {
  list-style: none;
  gap: 20px;
  font-size: 1.2rem;
  align-items: center;
  
}

/* hero section  */

.hero-section{
  margin-top: 100px;
  text-align: center;
}
.hero-section h1{
  font-size: 4rem;
}
.hero-section p{
  font-size: 1rem;
  margin: 25px 0px 40px 0px;
  
}
.email-container{
 /* width: 50%;  */
  /* border: 2px solid orange; */
  width: 100%;
  justify-content: center;
  margin-bottom: 50px;
  
}
.email-form{
  width: 40%;
  padding: 10px;
  border: 2px solid #9540FF;
  border-radius: 40px;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  background-color: white;
  
}
.email-form input{
 padding: 10px;
 width: 100%;
 border: none;
 font-size: 1rem;
}
input:focus{
  outline: none;
  
}


.email-form input::placeholder{
  font-size: 1rem;
  text-align: center;
}

.hero-video{
    
    margin-top: 50px;
  }
.hero-video iframe{
  width: 800px;
  height: 456px;
  /* border-radius: 10%; */
  background-color: white;
  border: 7px solid white;
  border-radius: 40px;
  outline: 5px solid #9540FF;
  /* padding: 10px; */
  
}
/* main section  */

.features{
  max-width: 1180px;
  margin: 0 auto;
  margin-top: 130px;
  align-items: center;
  gap: 50px;
  margin-bottom: 130px;
}
.features-img{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  
}

.features-img img{
  max-width: 300px;
}
.features-img .img-1{
  border-radius: 20% 0 0 0;
} 
.features-img .img-2{
  border-radius: 0 0 20% 0;
} 
.features-content h3{
  font-size: 3rem;
}
.features-content p{
  margin: 30px 0px;
  font-size: 1rem;
}
/* service section  */
.services{
gap: 20px;
margin-bottom: 130px;
}
.services-container{
  /* border: 2px solid; */
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.services-container h3{
  font-size: 3rem;
  font-weight: bold;
}
.services-container p{
  font-size: 1rem;
  color: #727272;
  
}
.services-container p {
  font-size: 1rem;
  color: #727272;
}
.service-description{
  margin-top: 30px;
  margin-bottom: 50px;
}
.service-content{
  padding: 30px;
  box-shadow: 0px 0px 20px rgb(238, 238, 238);
  margin: 10px 0px;
border-radius: 10px;  
background-color: white;
}
.service-content h5{
  font-size: 1.3rem ;
  font-weight: 600;
}
.student-img{
  margin-left: 90px;
}
.student-img img{
  max-width: 608px;
  border-radius: 10px;
}
.btn-experience span{
 font-size: 1.2rem;
 font-weight: normal;
}

.btn-experience{
  margin: -70px;
  margin-top: -100px;
  width: 250px;
  height: 130px;
 color: white;
  font-size: 2rem ;
  font-weight: bold;
  background-color: #9540FF;
  border: 2px solid #9540FF;
  padding: 30px;
  border-radius:7px;
  outline:7px solid white ;
  cursor: pointer;
  transition: all 0.4s ease ;
}
.btn-experience:hover{
  color: #9540FF;
  background-color:white;
  border: 2px solid #9540FF;
}
/* fact section  */

.fact-card-container{
  max-width: 1190px;
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  margin-bottom: 100px;
}
.fact-card{
  padding: 20px;
  border: 2px solid #9540FF;
  text-align: center;
  width: 250px;
  height: 250px;
  align-items: center;
  justify-content: center;
  border-radius: 10px; 
  background-color: white;
}
.fact-card img{
  max-width: 50px;
}
.fact-card h6{
  font-size: 2.5rem;
  font-weight: 500;
  color: #424242;
  margin-top: 5px;
  margin-bottom: 10px;
}
.fact-card p{
  font-size: 1.2rem;
  font-weight: 500;
  color: #727272;
}
.fact-sections h3{
  font-size: 3rem;
  font-weight: bold;
}
.fact-description{
  font-size: 1rem;
  margin-top: 20px;
  margin-bottom: 80px;
}

/* sponsor-section  */

.sponsor-section{
  text-align: center;
}
.sponsor-section h3{
  font-size: 3rem;
  
}
.sponsor-section p{
margin-top: 20px;
}
.sponsor-img{
  margin-top: 50px;
  margin-bottom:130px ;
 justify-content: space-between;
  
}
.sponsor-img img {
  filter: grayscale(100%);
  max-width: 170px;
  
}

.footer {
  background-color: #f7f2ff;
  margin-bottom: 80px;
  
}
footer p{
  text-align: center;
  color: #5e5e5e;
font-size: 1.2rem;
padding: 30px;
}
























/* media query for small device */

  @media screen and (max-width:576px) {
    
    .nav{
      flex-direction: column;
    }
    .logo {
    font-size: 2rem;
    
}
    .nav-list-container {
      flex-direction: column;
      gap: 5px;
      margin-top: 20px;
      text-align: center;
    }
    .log-btn {
      margin-top: 20px;
      flex-direction:column-reverse;
      gap: 10px;
    }
    /* hero-section  */

    .hero-section h1 {
    font-size: 2.5rem;
}

.email-container {
    /* border: 2px solid ; */
    /* flex-direction: column; */
    width: 100%;
    justify-content: center;
    margin-bottom: 50px;
}
.email-form {
    width: 80%;
    padding: 10px;
    border: 2px solid #9540FF;
    border-radius: 20px;
    gap: 20px;
    flex-direction: column;
}
.hero-video{
    
    margin-top: 50px;
  }
.hero-video iframe{
  width: 100%;
  height: 280px;
  /* border-radius: 10%; */
  background-color: white;
  border: 4px solid white;
  border-radius: 40px;
  outline: 5px solid #9540FF;
  /* padding: 10px; */
  
}
/* main section  */
.features{
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.features-img{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  
}

.features-img img{
  max-width: 230px;
}
.features-content{
  text-align: center;
}
.features-content h3{
  font-size: 2rem;
}
.features-content p{
  margin: 20px 0px;
  font-size: 1rem;
}

/* service section */

.services{
  flex-direction: column-reverse;

}


.student-img{
    margin: 10px;


}
.student-img img{
  max-width: 100%;
  border-radius: 10px;
}

.btn-experience{
  display: none;
  
}
/* fact-section  */

.fact-card-container{
  max-width: 1190px;
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  margin-bottom: 100px;
}

/* sponsor section  */

.sponsor-img{
  flex-direction: column;

}
.sponsor-img img{
  margin-top: 40px;
}

  }

  
  